<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand lead">GoShop</a>
    <form method="POST" action="/search" class="d-flex w-50">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
        required
        oninvalid="this.setCustomValidity('Please enter any search term')"
        oninput="this.setCustomValidity('')"
      />
      <button
        class="btn btn-outline-warning d-flex align-items-center"
        type="submit"
      >
        <i class="fas fa-search">&nbsp;</i>Search
      </button>
    </form>
    <div>
      <a href="/cart" id="cart" class="btn btn-success ml-3"
        ><i class="fas fa-shopping-cart">&nbsp; </i> Cart
      </a>
      <a class="btn btn-outline-success" href="/login"
        ><i class="fas fa-sign-out-alt">&nbsp;</i> Logout</a
      >
    </div>
  </div>
</nav>

<a href="/" class="btn btn-outline-warning" id="home"
  ><i class="fas fa-home"></i
></a>
<style>
  #home {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
  }
</style>
