<!-- TODO: ERROR PAGE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Not Found</title>
    <%- include('partials/_head') %>
    <style>
      body {
        background: #000;
        color: #fff;
        display: grid;
        place-content: center;
        height: 100vh;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="display-2 mb-5">This page is not found</h1>
    <a href="/" class="btn btn-success btn-lg m-auto" style="max-width: 200px"
      ><i class="fas fa-home">&nbsp; &nbsp;</i>Back to home</a
    >
  </body>
</html>
