<!-- TODO: ADD VIDEO LINKS -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
      }
      h1 {
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px blue;
      }
      .container1 {
        position: fixed;
        left: 50px;
        top: 150px;
        color: white;
      }
      .container2 {
        position: fixed;
        left: 300px;
        top: 150px;
        color: white;
        width: 300px;
        text-align: justify;
        text-justify: inter-word;
      }
      .video {
        position: fixed;
        left: 700px;
        top: 150px;
        color: white;
        width: 300px;
        text-align: justify;
        text-justify: inter-word;
      }
      .cart {
        position: fixed;
        left: 30px;
        top: 470px;
      }
      #my {
        zoom: 110%;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Galaxy S21 Ultra</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('partials/_navbar', {title: 'Items'}) %>
    <div class="container1">
      <img id="image" src="<%= item.img %>" width="193" height="300" />
    </div>
    <div class="container2"><%= item.description %></div>
    <div class="cart">
      <button id="cart" class="btn btn-secondary ml-3">Add to Cart</button>
    </div>
    <div class="video">
      <video width="480" height="360" controls>
        <source src="/galaxy.mp4" />
      </video>
    </div>
  </body>
</html>
